{% extends 'master.html' %}

{% block body %}
<div style="height:150px"></div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="alert alert-success" style="font-size: 30px;width: 90%;height:100px">
                <span class="glyphicon glyphicon-search">
                鲍鱼信息查询</span></div>
        </div>
        <div style="height:50px"></div>
        <div class="row">
            <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fwww.qnong.com.cn%2Fuploadfile%2F2015%2F0707%2F20150707084419527.jpg&refer=http%3A%2F%2Fwww.qnong.com.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1670476373&t=b892094e8f9c3c509cd4ffa3df161f5a" style="width:90%" class="img-rounded">
        </div>

    </div>
    <div class="col-md-4">
         <!-- 1.表单套个form -->
        <form action = "" method="post" enctype="multipart/form-data">
            {% csrf_token %}   <!-- 2.csrf token -->
        <div class="row">
            <div class="col-md-9">  <!-- 3.文本框设个name -->
                <input type="text" class="form-control" name="inputId" 
                     style="font-size: 25px;height:50px" placeholder="请输入鲍鱼编号1-1000">
            </div>
            <div class="col-md-3"> <!-- 4.Button类型改成submit -->
                <button type="submit" class="btn btn-danger" style="font-size: 25px;height:50px">查询</button>
            </div>
        </div>
        </form>
        <div style="height:100px"></div>
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size:20px">鲍鱼信息查询</h3>
                </div>
                <div class="panel-body">
                    <div style="height:20px"></div>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-3">
                        <h1 style="font-size:30px">鲍鱼 {{data.0.0}}号</h1>
                        
                      </div>
                      <div class="col-md-5">
                        <h1><span class="label label-info" style="font-size:30px">年龄：{{data.0.9}} 岁</span></h1>
                      </div>
                    </div>
                    <div style="height:50px"></div>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                    
                        <table class="table table-striped" style="font-size:20px">
                            <thead>
                              <tr>
                                <th style="width:30%">属性</th>
                                <th style="width:20%">值</th>
                                <th style="width:30%">属性</th>
                                <th style="width:20%">值</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>sex</td>
                                <td style="color:#ff0000">{{data.0.1}}</td>
                                <td>whole_weight</td>
                                <td  style="color:#ff0000">{{data.0.5}}</td>
                              </tr>
                              <tr>
                                <td>length</td>
                                <td  style="color:#ff0000">{{data.0.2}}</td>
                                <td>shucked_weight</td>
                                <td  style="color:#ff0000">{{data.0.6}}</td>
                              </tr>
                              <tr>
                                <td>diameter</td>
                                <td  style="color:#ff0000">{{data.0.3}}</td>
                                <td>viscera_weight</td>
                                <td  style="color:#ff0000">{{data.0.7}}</td>
                              </tr>
                              <tr>
                                <td>height</td>
                                <td style="color:#ff0000">{{data.0.4}}</td>
                                <td>shell_weight</td>
                                <td  style="color:#ff0000">{{data.0.8}}</td>
                              </tr>
                                                           
                            </tbody>
                          </table>
                          
                          
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>

{% endblock %}