{% extends 'master.html' %}

{% block body %}

<div style="height:150px"></div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row text-right">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/pred.html'" style="font-size: 30px;" >预测鲍鱼年龄</button>
      </div>
      <div style="height:30px"></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>性别</th>
            <th>长度</th>
            <th>直径</th>
            <th>高度</th>
            <th>总宽</th>
            <th>剥皮宽度</th>
            <th>内脏宽度</th>
            <th>贝壳宽度</th>
            <th>年龄</th>
            <th>用户</th>
            <th>查询</th>
          </tr>
        </thead>
        <tbody>
          {% for t in data %}
            <tr>
              <td>{{t.0}}</td>
              <td>{{t.1}}</td>
              <td>{{t.2}}</td>
              <td>{{t.3}}</td>
              <td>{{t.4}}</td>
              <td>{{t.5}}</td>
              <td>{{t.6}}</td>
              <td>{{t.7}}</td>
              <td>{{t.8}}</td>
              <td>{{t.9}}</td>
              <td><button type="button" class="btn btn-danger" onclick="window.location.href='/abalone.html?id={{t.0}}'">查询</button></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

    </div>
</div>

{% endblock %}