<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>医疗查询</title>
  <script src="../static/js/vue.global.js"></script>
  <script src="../static/js/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/css/index.css">
  <script src="../static/js/index.full.js"></script>
</head>
<body>

{% verbatim %}
<div id="app">
    <el-menu   :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
      <el-menu-item index="0">&nbsp;医疗信息查询系统</el-menu-item>
      <el-menu-item index="1"><a href="/Medicine/indexJs.html">Js</a></el-menu-item>
      <el-menu-item index="2"><a href="/Medicine/indexAjax.html">Ajax</a></el-menu-item>
      <el-menu-item index="3"><a href="/Medicine/indexVue.html">vue</a></el-menu-item>
      <el-menu-item index="4"><a href="/Medicine/indexElement.html">Element</a></el-menu-item>
    </el-menu>
    <div style="height:150px"></div>
    <el-row>
      <el-col :span="2"></el-col>
      <el-col :span="6">
        <el-input v-model="intro"  :rows="10" type="textarea"  style="font-size:25px" />
      </el-col>
      <el-col :span="1"></el-col>
      <el-col :span="13">
        <el-cascader v-model="cate" :options="cateOptions" ></el-cascader>
        <el-button type="primary" @click="initData()">查询</el-button>
        <div style="height:30px"></div>
  
        <el-table :data="tableData" stripe style="width: 100%" @row-click="showIntro">
          <el-table-column prop="time" label="发布时间" ></el-table-column>
          <el-table-column prop="video" label="视频"  ></el-table-column>
          <el-table-column prop="duration" label="时长" ></el-table-column>
          <el-table-column prop="doctor" label="医生" ></el-table-column>
          <el-table-column prop="hospital" label="医院" ></el-table-column>
          <el-table-column prop="count" label="播放次数"></el-table-column>
          <el-table-column prop="zan" label="点赞" ></el-table-column>
        </el-table>
      
      </el-col>
    </el-row>
</div>
{% endverbatim %}

<script type="module">
  const { createApp, ref,onMounted } = Vue;
  const baseUrl = "http://localhost:8000"
  const activeIndex = ref("4")
  const intro =ref("视频简介")
  const cate = ref(["内科","胃炎"])
  const cateOptions = ref([])
  const tableData =  ref([])
  
  async function initCate(){
     
     //获取cateData
     await $.ajax({
       'url': baseUrl+'/Medicine/cateApi2',
       'type': 'GET',
       'success': function (response) {
           cateOptions.value = response["options"]
           
         }
     })
   }

   async function initData(){ 
        $.ajax({
          'url': baseUrl+'/Medicine/videoApi2',
          'type': 'GET',
          'data':{"cate1":cate.value[0],"cate2":cate.value[1]},
          'success': function(response){
              console.log(response["videoData"])
              tableData.value = response["videoData"]  
            }
        }) 
        window.history.pushState({}, "", "?cate1="+cate.value[0]+"&cate2="+cate.value[1])    
    }

  function showIntro(row,column,event){
    $.ajax({
          'url': baseUrl+'/Medicine/introApi?id='+row.id,
          'type': 'GET',
          'success': function (response){
            intro.value = response["intro"]

          }
    })
  }

  function getQueryString(name){
        var searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has(name)) {
            return searchParams.get(name);
        }
        return null;
  }

  // 创建Vue应用
  const App = createApp({

      setup() {
        
        onMounted(async ()=>{
          cate.value[0] = getQueryString("cate1")
          cate.value[1] = getQueryString("cate2")
          if(cate.value[0]==null) cate.value[0]="内科"
          if(cate.value[1]==null) cate.value[1]="胃炎"

          await initCate()
          await initData()
        
        })
        return {activeIndex,intro,cate,cateOptions,initCate,initData,tableData,showIntro}
      }
  })

  App.use(ElementPlus);
  App.mount('#app');
</script>


</body>    
</html>