<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>医疗查询</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">  
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/echarts.js"></script>
  <script src="../static/js/vue.global.js"></script>
</head>
<body>

{% verbatim %}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">&nbsp;医疗信息查询系统</a>
    </div>
    <div>
        <ul class="nav navbar-nav" style="font-size:20px">
            <li  ><a href="/Medicine/indexJs.html">Js</a></li>
            <li ><a href="/Medicine/indexAjax.html">Ajax</a></li>  
            <li class="active" ><a href="/Medicine/indexVue.html">Vue</a></li>   
            <li ><a href="/Medicine/indexElement.html">Element</a></li> 
        </ul>
    </div>
  </div>
</nav>


<div style="height:150px"></div>

<div class="row" id="app">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">视频简介</h3>
        </div>
        <div class="panel-body">
            <textarea class="form-control" rows="30" id="intro" v-model="intro"></textarea>
        </div>
      </div>

    </div>
    <div class="col-md-5">
        
      <form action = "" method="post" enctype="multipart/form-data" class="form-inline">
      <select class="form-control" style="width:150px" v-model="cate1" @change="initCate2()">
          <option  v-for="tmpCate1 in cate1List" :value="tmpCate1">{{tmpCate1}}</option>
      </select>

      <select class="form-control" style="width:150px" v-model="cate2" >
          <option  v-for="tmpCate2 in cate2List" :value="tmpCate2">{{tmpCate2}}</option>
      </select>

      <button type="button" class="btn btn-primary" @click="search()">查询</button>
      </form>
        

      <table class="table table-striped">
        <caption>条纹表格布局</caption>
        <thead> 
          <tr>
            <th>时间</th>
            <th>视频</th>
            <th>时长</th>
            <th>医生</th>
            <th>医院</th>
            <th>播放次数</th>
            <th>点赞</th>            
          </tr>
        </thead>
        <tbody>
          <tr v-for ="t in tableData" @click="showIntro(t.id)">
              <td>{{t.time}}</td>
              <td>{{t.video}}</td>
              <td>{{t.duration}}</td>
              <td>{{t.doctor}}</td>
              <td>{{t.hospital}}</td>
              <td>{{t.count}}</td>
              <td>{{t.zan}}</td>
          </tr>
        </tbody>
      </table>

    </div>
</div>
{% endverbatim %}

<script type="module">
  const { createApp, ref,onMounted } = Vue;

  const baseUrl = "http://localhost:8000"
  const cate1List = ref(["内科","外科","五官科"])
  const cate2List = ref(["鼻炎","鼻窦炎"])

  const cate1 = ref("五官科")
  const cate2 = ref("鼻炎")
  const cateData = ref({})
  const tableData = ref([])
  const intro = ref("视频简介")

  async function initCate1(){
     
     //获取cateData
     await $.ajax({
       'url': baseUrl+'/Medicine/cateApi',
       'type': 'GET',
       'success': function (response) {
           var tmpList = []
           $.each(response, function(k,v){
               tmpList.push(k)
           })
           cateData.value = response
           cate1List.value = tmpList
         }
     })
   }

  async function initCate2(){
    console.log(cate1,cate2)
      cate2List.value = cateData.value[cate1.value]
      cate2.value = cate2List.value[0]
  }

  async function initData(){ 
        $.ajax({
          'url': baseUrl+'/Medicine/videoApi',
          'type': 'GET',
          'data':{"cate1":cate1.value,"cate2":cate2.value},
          'success': function (response) {
              tableData.value = response["videoData"]  
            }
        })     
    }

  function search(){
     
      initData()
      //修改url但是不跳转
      window.history.pushState({}, "", "?cate1="+cate1.value+"&cate2="+cate2.value)
  }

  function getQueryString(name){
        var searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has(name)) {
            return searchParams.get(name);
        }
        return null;
    }

    function showIntro(id){
      $.ajax({
          'url': baseUrl+'/Medicine/introApi?id='+id,
          'type': 'GET',
          'success': function (response){
            intro.value = response["intro"]

          }
    })
  }

  // 创建Vue应用
  createApp({
      setup() {
        onMounted(async ()=>{
          cate1.value = getQueryString("cate1")
          cate2.value = getQueryString("cate2")
          if(cate1.value==null) cate1.value="内科"
          if(cate2.value==null) cate2.value="胃炎"

          await initCate1()
          await initCate2()
          await search()
        })

        return {cate1List,cate1,cate2List,cate2,initCate1,initCate2,tableData,search,intro,showIntro}
      }
  }).mount('#app');
</script>


</body>    
</html>