
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">&nbsp;鲍鱼挖掘</a>
    </div>
    <div>
        <ul class="nav navbar-nav" style="font-size:20px">
            <li class="active" ><a href="/Dashboard/graph.html">主页</a></li>
            <li><a href="/Dashboard/search.html">查询</a></li>  
            <li><a href="/Dashboard/pred.html?model=lr">预测</a></li>  
            <li><a href="/Dashboard/record.html">历史</a></li>
            <li><a href="/Dashboard/dataORM.html">训练</a></li>
            <li><a href="/Dashboard/screen.html">大屏</a></li>     
            <li><a href="/Medicine/indexJs.html">医疗</a></li>       
        </ul>
    </div>
    </div>
</nav>